@model Product

@{
    ViewData["Title"] = "Delete Product";
}

<form asp-action="Delete" method="post">
    <div class="container p-3">
        <div class="border p-3">
                <h1 class="h2 mb-3">Delete Product</h1>
                <hr /><br />

            <input asp-for="Id" hidden />
            <input asp-for="Image" hidden />
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        Id
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Id
                    </dd>
                    <dt class="col-sm-2">
                        Name
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Name
                    </dd>
                    <dt class="col-sm-2">
                        Category
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Category.Name
                    </dd>
                    <dt class="col-sm-2">
                        Description
                    </dt>
                    <dd class="col-sm-10">
                        @Html.Raw(Model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        Price
                    </dt>
                    <dd class="col-sm-10">
                        Rs. @Model.Price /-
                    </dd>
                    <dt class="col-sm-2">
                        Image
                    </dt>
                    <dd class="col-sm-10">
                        <img src="~/media/products/@Model.Image" width="150" />
                    </dd>
                    <dt class="col-sm-2">
                        Slug
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Slug
                    </dd>
                    <dt class="col-sm-2">
                        Date
                    </dt>
                    <dd>
                        @Model.CreatedDateTime.ToString("ddd, dd MMM yyyy")
                    </dd>
                </dl>
            </div>

            <button id="confirm-deletion" type="submit" class="btn btn-danger" style="width:150px">Delete</button>
            <a asp-controller="Products" asp-action="Index" class="btn btn-light" style="width:150px">
                Back to List
            </a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        const readURL = e => {
            const reader = new FileReader();
            reader.readAsDataURL(e.target.files[0]);
            reader.onload = () => {
                const preview = document.getElementById('image-preview');
                preview.style.width = ((132*screen.width)/1200) + 'px';
                preview.style.height = ((100*screen.height)/800) + 'px';
                preview.src = reader.result;
            };
        };
    </script>
}
