@model IEnumerable<Page>

@{
    ViewData["Title"] = "Manage Pages";
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Pages</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</div>

<!-- Data Tables-->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-6">
                <h5 class="m-0 font-weight-bold text-primary">Manage Pages</h5>
            </div>
            <div class="col-6 text-right">
                <a asp-controller="Pages" asp-action="Create" class="btn btn-sm btn-primary">
                <i class="fas fa-plus-circle fa-sm text-white-50"></i> Add New Page
                </a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered sorted" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="home">
                        <th>
                            Id
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Slug
                        </th>
                        <th>
                            Content
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="id_@item.Id" class="@item.Slug">
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Slug
                            </td>
                            <td>
                                @Html.Raw(item.Content)
                            </td>
                            <td>
                                @item.CreatedDateTime.ToString("ddd, dd MMM yyyy")
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-controller="Pages" asp-action="Edit" class="btn btn-sm btn-info mx-1" asp-route-id="@item.Id"><i class="fa fa-pen-square fa-sm text-white-50" ></i> Edit</a>
                                    <a asp-controller="Pages" asp-action="Details" class="btn btn-sm btn-secondary mx-1" asp-route-id="@item.Id"><i class="fa fa-list-alt fa-sm text-white-50"></i> Detail</a>
                                    @if (item.Slug != "home")
                                    {
                                        <a asp-controller="Pages" asp-action="Delete" class="btn btn-sm btn-danger mx-1" asp-route-id="@item.Id"><i class="fa fa-trash fa-sm text-white-50"></i> Delete</a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("table#dataTable tbody").sortable({
            items: "tr:not(.home)",
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#dataTable tbody").sortable("serialize");
                let url = "/admin/pages/reorder";

                $.post(url, ids, function () { });
            }
        })
    </script>
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}
